@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  font-family: "work sans";
}

html{
  font-size: 100%;
}

.h2signupRegister{
  font-weight: 100;
  font-size: 1.3em;
}

.signupatagRegister{
  text-decoration: none;
  color: gray;
}
.signupatagRegister:hover{
  text-decoration: underline;
}

#loginformRegister{
  max-width: 500px;
  min-width: 300px;
  max-height: 800px;
  width: 30%;
  height: 47em;
  margin: 100px auto;
  background-color: #FFFFFF;
  border-radius: 50px;
  margin-top: 6em;
  margin-bottom: 5.7em;
}

#headerTitleRegister{
  text-align: center;
  font-family: "work sans";
  font-weight: 100;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}

.rowRegister{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
  
}

.rowRegister input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.rowRegister input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}

.rowRegister input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.rowRegister input:hover::-webkit-input-placeholder,
.rowRegister input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.rowRegister label{
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187,187,187,0.9);
}

.rowRegister button{
  border-radius: 25px;
  width: 13em;
  height: 60px;
  margin-top: 2em;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.rowRegister button:hover{
  opacity: 0.8;
}

#buttonRegister{
  padding-bottom: 1.5rem;
}